/*Universal Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header Section formatting */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: black;  /* Why is this not inherited? */
  opacity: 0.9;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header>.logo>img {
  height: 50px;
  margin-left: 10px;
  border: 1px solid white;
}

nav ul li {
  display: inline-block;
  align-items: center;
  text-decoration: underline;
  margin-right: 10px;
  border: 1px solid green;
}

/* Page content fomatting */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-sub-container {
  margin-bottom: 25px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /* Not needed, but inserted in case elemets are added to this container in the future */
  margin-top: 70px;
  height: 700px;
  width: 1200px;
  border: 1px solid white;

/*  Background image for .main-banner section */
  background-image: url(../images/img-mission-background.jpg);
}

.main-banner-text-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  background-color: black;
}

.teas {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  border: 1px solid green;
}

.teas>h2,
.teas>h4 {
  margin: 15px;
}

.tom-grid-container {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid red;
}

.tom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tom.image {
  height: 200px;
  width: 300px;
}

.tom.label {
  margin: 10px 0px 25px 0px;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  /*  Background image for .locations section */
  background-image: url(../images/img-locations-background.jpg);
  border: 1px solid green;
}

.locations>h1 {
  margin-bottom: 15px;
}

.store-locations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
  align-items: center;
  border: 1px dashed red;
}

.store-location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}

.footer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 1px dashed green;
}

.footer>* {
  margin: 0;
}

.copyright-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.copyright-notice {
  margin-left: 20px;
  margin-top: 0;
}
